#loginDiv {
  text-align:center;
  padding:40px;
}

@media (max-width:991px) {
  #loginDiv {
    padding:20px;
  }
}

#loginDiv .jumbotron {
  border-radius:20px;
  padding:40px;
  max-width:800px;
  margin:0 auto;
}

@media (max-width:991px) {
  #loginDiv . jumbotron {
    padding:20px;
  }
}

.btn-default {
  width:30%;
}

@media (min-width:361px) {
  .form-control {
    max-width:100%;
  }
}

@media (max-width:767px) {
  .btn-block-xs-only {
    display:block;
    width:100%;
  }
}

#buttonAddSeq {
  width:100%;
}

#buttonSendSeq {
  width:100%;
}

#pwInput {
  min-width:100%;
}

@media (min-width:769px) {
  .textAreaCommunication {
    height:250px;
  }
}

