.buttonHalf {
  width:49.6%;
}

.buttonFull {
  width:100%;
}

.colClass {
  background-color:#e6e4e4;
}

.displayText {
  background-color:#c6c6c6;
  border-radius:5px;
  padding:10px;
}

#currentSequence {
  min-height:50px;
}

.btn {
  margin-bottom:10px;
  margin-top:10px;
}

@media (max-width:991px) {
  .btn {
    margin-top:0px;
    margin-bottom:0px;
  }
}

@media (max-width:991px) {
  .displayText {
    margin-top:10px;
  }
}

.colClass {
  border:solid;
  border-color:#ffffff;
  /*border-width:2px;*/
  border-radius:10px;
}

