[Unit]
Description=Node.js Web Authorisation Server
# Requires the WoT-Server service to run first
# Requires=wotserver.service
# After=network.target wotserver.service

[Service]

ExecStartPre=/bin/sh -c 'exec /bin/echo "[`date`] Authorisation-Server Starting" > /var/log/authserverLog.log'
ExecStopPost=/bin/sh -c 'exec /bin/echo "[`date`] Authorisation-Server Stopped" >> /var/log/authserverLog.log'


ExecStart=/bin/sh -c 'exec /usr/local/bin/node /root/WoT/gateway/wot-gateway/auth/authProxy.js >> /var/log/authserverLog.log'
#WorkingDirectory=/root/WoT/gateway/wot-gateway/auth/   # Required on some systems
Restart=always
# give up restarting if there are 10 restarts within 90 seconds
StartLimitInterval=90
StartLimitBurst=10
#RestartSec=10                                  # Restart service after 10 seconds if node service crashes

StandardOutput=syslog                           # Output to syslog of systemd (view with journalctl)
StandardError=syslog                            # Output to syslog of systemd (view with journalctl)
SyslogIdentifier=WoT-Server
#User=<alternate user>
#Group=<alternate group>

# the port on which the server runs has to be mentioned here
Environment=NODE_ENV=production PORT=8484

[Install]
WantedBy=multi-user.target
