[Unit]
Description=checkWiFiConnection caller

[Service]

ExecStart=/bin/sh /root/WoT/gateway/wot-gateway/auth/checkWiFiConnection.sh

Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=changeToHotspotIfNeeded


[Install]
WantedBy=multi-user.target
