[Unit]
Description=checkWiFiConnection caller

[Service]

ExecStart=/bin/bash /root/WoT/gateway/wot-gateway/auth/checkWiFiConnection.sh

Restart=always
# give up restarting if there are 10 restarts within 60 seconds
StartLimitInterval=60
StartLimitBurst=10
RestartSec=10

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=changeToHotspotIfNeeded


[Install]
WantedBy=multi-user.target
