[Unit]
Description=Node.js Web of Things Server

[Service]

ExecStartPre=/bin/sh -c 'exec /bin/echo "[`date`] WoT-Server Starting" > /var/log/wotserverLog.log'
ExecStopPost=/bin/sh -c 'exec /bin/echo "[`date`] WoT-Server Stopped" >> /var/log/wotserverLog.log'


ExecStart=/bin/sh -c 'exec /usr/local/bin/node /root/WoT/gateway/wot-gateway/wot-server/wot.js >> /var/log/wotserverLog.log
#WorkingDirectory=/root/WoT/gateway/wot-gateway/wot-server/   # Required on some systems
Restart=always
# give up restarting if there are 10 restarts within 90 seconds
StartLimitInterval=90
StartLimitBurst=10
#RestartSec=10                                  # Restart service after 10 seconds if node service crashes

StandardOutput=syslog                           # Output to syslog of systemd (view with journalctl)
StandardError=syslog                            # Output to syslog of systemd (view with journalctl)
SyslogIdentifier=WoT-Server
#User=<alternate user>
#Group=<alternate group>

# the port on which the server runs has to be mentioned here
Environment=NODE_ENV=production PORT=8484

[Install]
WantedBy=multi-user.target
