<!DOCTYPE html> <html> <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>KannMotion</title>
    <link rel="stylesheet" href="kannmotion/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="kannmotion/assets/css/styles.css">
    <link rel="manifest" href="kannmotion/assets/manifest.json"> </head> <body>
    <div></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"><img src="kannmotion/assets/img/adlos_kannmotion.jpg"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
		<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="/profile">Profile Page</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12 colClass">
                            <div class="form-group">
                                <form id="configuration">
                                    <h2>Konfiguration </h2>
                                    <p>Motor zur Konfiguration wählen. </p>
                                    <select class="form-control" id="configOptions">
                                        <option value="c17_11H">Kann Motion 17 11H2045X4-095-001</option>
                                        <option value="c17_24H">Kann Motion 17 24H2085-200-4A</option>
                                        <option value="c24_11H">Kann Motion 24 11H2045X4-095-001</option>
                                        <option value="c24_24H" selected="">Kann Motion 24 24H2085-200-4A</option>
                                    </select>
                                    <button class="btn btn-default buttonFull" type="button" id="buttonConfig">Konfigurieren </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 colClass">
                            <div class="form-group">
                                <form>
                                    <h2>Befehle </h2>
                                    <p style="margin-top:10px;margin-bottom:0px">Drehen Uhrzeigersinn:</p>
                                    <button class="btn btn-default buttonHalf" type="button" id="buttonVorSchnell">Schnell</button>
                                    <button class="btn btn-default buttonHalf" type="button" id="buttonVorLangsam">Langsam</button>
				   
				    <p style="margin-top:10px;margin-bottom:0px">Drehen Gegenuhrzeigersinn:</p>
                                    <button class="btn btn-default buttonHalf" type="button" id="buttonRuckSchnell">Schnell</button>
                                    <button class="btn btn-default buttonHalf" type="button" id="buttonRuckLangsam">Langsam</button>
				   
                                    <p style="margin-top:10px;margin-bottom:0px">Drehen 3s Uhrzeigersinn, danach Gegenuhrzeigersinn:</p>
                                    <button class="btn btn-default buttonFull" type="button" id="buttonVorRuck">Start</button>

				    <p style="margin-top:10px;margin-bottom:0px">Motor Stoppen</p>
                                    <button class="btn btn-default buttonFull" type="button" id="buttonStop">Stop</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="kannmotion/assets/js/jquery.min.js"></script>
    <script src="kannmotion/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="kannmotion/assets/js/KannMotionApplication.js"></script> </body>
</html>
