<!DOCTYPE html>
<html>

<head>
    <title>Authentication</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/css/docs.min.css">
    <style class="anchorjs"></style>
</head>

<body>
    <div class="bs-docs-header" id="content" tabindex="-1">
        <div class="container">
            <h1><span class="fa fa-anchor"></span> Error</h1>
        </div>
    </div>
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-9" role="main">
                <div class="bs-docs-section">
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    <a href="/profile" class="btn btn-default btn-sm">Your profile</a>
                    <a href="/" class="btn btn-default btn-sm">Root page</a>
                </div>

            </div>
        </div>
    </div>
    <div class="container bs-docs-container">
        <div class="row">
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
        </div>
    </div>
</body>

</html>