<!DOCTYPE html>
<html>

<head>
    <title>Authentication</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/css/docs.min.css">
</head>

<body>
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Error</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/profile" class="btn btn-default btn-sm">Your profile</a>
            <a href="/" class="btn btn-default btn-sm">Root page</a>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
</body>

</html>