<!DOCTYPE html>
<html>

<head>
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/editProfile" class="btn btn-default btn-sm">Edit your profile</a>
            <a href="/" class="btn btn-default btn-sm">Root page</a>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-success">
                        <%= message %>
                    </div>
                    <% } %>

                        <% if (user) { %>
                            <h3><span class="fa fa-user"></span> Your ID:
                                <%= user.id %>
                            </h3>
                            <% } %>
                                <p>
                                    Access granted!<br/> You can now interact with the Web Thing<br/>
                                    <br/>
                                </p>
            </div>
        </div>
    </div>
</body>

</html>